<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="images/fevicon.png" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>PeterPet</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />

</head>

<body>

  <div class="hero_area">
     <!-- header section strats -->
     <header class="header_section long_section px-0">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="home">
          <span>
            peter pet
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </ul>
          </div>
          <div class="quote_btn-container">
            <a href="/signIn">
              <span>
                Login
              </span>
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </nav>
    </header>
    <!-- end header section -->
    
    <!-- slider section -->
    <section class="slider_section long_section">
      <div id="customCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-5">
                  <div class="detail-box">
                    <h1>
                      Smart PetCare Solution<br>
                    </h1>
                    <p>
                      AIoT 기술과 WISE-PaaS기술을 통한 <br/>
                      반려견 실시간 모니터링과 통합 관제 서비스</p>
                    <div class="btn-box">
                        <a href="/signUp" class="btn1">
                        SIGN UP
                        </a>
                        <a href="/signIn" class="btn2">
                        SIGN IN</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="img-box">
                    <img src="images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-5">
                  <div class="detail-box">
                    <h1>
                      Smart PetCare Solution<br>
                    </h1>
                    <p>
                      AIoT 기술과 WISE-PaaS기술을 통한 <br/>
                      반려견 실시간 모니터링과 통합 관제 서비스</p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        SIGN UP
                      </a>
                      <a href="" class="btn2">
                        SIGN IN
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="img-box">
                    <img src="images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel" data-slide-to="1"></li>
        </ol>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  
  <!-- about section -->

    <section class="about_section layout_padding long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
               Integrated Control System
              </h2>
            </div>
            <p> WISE-PaaS 대시보드를 활용하여 반려동물 위탁 업소의 모든 강아지들의 상태를 간편하게 확인할 수 있습니다.
              <br/> <br/> 위탁업체의 스마트한 펫케어를 위해 기본 정보 및 업체 내부 환경 통합 관제, 집중 관리 패널, 알람 기능을 제공합니다.
            </p> 
            </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/bigmo.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section> 

  <section class="about_section layout_padding long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/ai.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                AI Bcs Classifier
              </h2>
            </div>
            <p>
            AI Hub의 반려견 건강정보 데이터 이미지 셋을 통해 구축한 AI 모델을 통해 비만도 수치를 판별합니다
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>   

      <section class="about_section layout_padding long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Real-time Pet Monitoring
              </h2>
            </div>
            <p>
             반려동물의 하네스에 센서를 부착하여 실시간 활동 상태와 주변 환경 정보를 수집합니다.
             <br/> <br/> 위탁업체 및 반려견 주인은 DashBoatd를 통해 사업 및 반려동물의 상태를 확인할 수 있어 고객들의 불안을 최소화하고 편의성을 제공합니다.
            </p>
            </div>
          </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/moni.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about_section layout_padding long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/dispensor.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Automatic Feeding System
              </h2>
            </div>
            <p>
             머신러닝 모델을 통해 반려동물의 정보와 실시간 상태를 분석하여 활동량 수준을 판별하고, 
             이를 기반으로 배식량을 조절하여 맞춤형 자동 배식 서비스를 제공합니다.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>  

  <!-- end about section -->

<!-- contact section -->
<section class="contact_section  long_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <div class="heading_container">
            <h2>
              Contact Us
            </h2>
          </div>
          <form id="contactForm">
            <div>
              <input type="text" placeholder="Your Name" />
            </div>
            <div>
              <input type="text" placeholder="Phone Number" />
            </div>
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" />
            </div>
            <div class="btn_box">
              <button id="sendMessageBtn">
                SEND
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="images/contact.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.js"></script>
<!-- Custom JS -->
<script src="js/custom.js"></script>

<script>
  $(document).ready(function () {
    $("#sendMessageBtn").click(function (event) {
      event.preventDefault();
      alert("문의가 접수 되었습니다");
      $("#contactForm")[0].reset();
    });
  });
</script>


</body>
</html>