<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>sensor</title>
</head>
<body>
    <div class="container">

        <form name="employee" method="post" action="/sensor">
            <div>
                <input id="Query" name="Query" type="text" required placeholder=""/>
            </div>
            <div>
                <input type="submit" value="Apply"/>
            </div>
        </form>
    </div>
</body>
</html>