<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="images/fevicon.png" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>PeterPet</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />


</head>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section long_section px-0">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="/">
          <span>
            PeterPet
          </span>
        </a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav ">
              <li class="nav-item ">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
          <div class="quote_btn-container">
            <a href="">
              <span>
                Login
              </span>
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </nav>
    </header>
    <!-- end header section -->
  </div>
  <!-- contact section -->
  <section class="contact_section  long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                Sign In
              </h2>
            </div>
              
              
              <label for="userType">Select user type:</label>
              {{!-- <div>
                <input type="radio" id="admin" name="userType" value="admin" checked>
                <input type="radio" id="owner" name="userType" value="owner">
              </div>

              <div class="toggle-switch">
                <input type="checkbox" id="toggle-admin-owner" name="userType" value="admin" checked>
                <label for="toggle-admin-owner">
                  <span class="toggle-label">Admin</span>
                  <span class="toggle-label">Owner</span>
                </label>
              </div> --}}


              <div class="radio-group">
                <input type="radio" id="admin" name="userType" value="admin" checked>
                <label for="admin" class="toggle-label">Admin</label>

                <input type="radio" id="owner" name="userType" value="owner">
                <label for="owner" class="toggle-label-owner">Owner</label>
              </div>
              

              <div id="adminForm" style="display: block;">
              <label for="admin">Admin</label>
               <form id="user" method="post" action='/signIn'>

              <label for="id">ID</label>
              <input id="id" name="id" type="text" required placeholder="Your ID">
            
              <label for="password">Password</label>
              <input id="passwd" name='password' type="password" required placeholder="Your Password">
              <button>
                  Sign In
              </button>

        </form>
        </div>
        <div id="ownerForm" style="display: none;">
              <label for="owner">Owner</label>
               <form id="user" method="post" action='/signInOwner'>

              <label for="id">ID</label>
              <input id="id" name="id" type="text" required placeholder="Your ID">
            
              <label for="password">Password</label>
              <input id="passwd" name='password' type="password" required placeholder="Your Password">
              <button>
                  Sign In
              </button>
        </form>
            </div>

        <script>
          const adminRadio = document.getElementById('admin');
          const ownerRadio = document.getElementById('owner');
          const adminForm = document.getElementById('adminForm');
          const ownerForm = document.getElementById('ownerForm');

          adminRadio.addEventListener('change', () => {
            if (adminRadio.checked) {
              adminForm.style.display = 'block';
              ownerForm.style.display = 'none';
            }
          });

          ownerRadio.addEventListener('change', () => {
            if (ownerRadio.checked) {
              adminForm.style.display = 'none';
              ownerForm.style.display = 'block';
            }
          });
        </script>
            
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/pp.jpg" alt="">
          </div>
          </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->


  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
</body>

</body>

</html>

