<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="upload.css"> 
  <title>Photo Upload</title>
</head>
<body>
  <h1>Upload Photos</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <label for="DogId">DogId</label>
    <input type="text" name="DogId" required placeholder="반려동물의 이름을 입력해주세요">
    <br>

    <label for="photos">Photos:</label>
    <input type="file" name="photos" accept="image/*" required multiple >
    <br>

    <div id="imagePreviews">
    </div>
    <br>

    <input type="submit" value="Upload Photos">
  </form>
  <script>
    const photoInput = document.querySelector('input[name="photos"]');
    const imagePreviews = document.getElementById('imagePreviews');

    photoInput.addEventListener('change', (event) => {
      imagePreviews.innerHTML = '';

      const files = event.target.files;
      for (const file of files) {
        const reader = new FileReader();
        reader.onload = (e) => {
          const img = document.createElement('img');
          img.src = e.target.result;
          img.classList.add('preview-image');
          imagePreviews.appendChild(img);
        };
        reader.readAsDataURL(file);
      }
    });
  </script>
</body>
</html>
