<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="frame">
        <h1>Sensor</h1>
        <form name="sensor" method="post" action="/">
        
            <label for="ax">ax</label>
            <input id="ax" name="ax" type="text" required />
            <br>

            <label for="ay">ay</label>
            <input id="ay" name="ay" type="text" required />
            <br>

            <label for="az">az</label>
            <input id="az" name="az" type="text" required />
            <br>
            
            <label for="gx">gx</label>
            <input id="gx" name="gx" type="text" required />
            <br>
            
            <label for="gy">gy</label>
            <input id="gy" name="gy" type="text" required />
            <br>
            
            <label for="gz">gz</label>
            <input id="gz" name="gz" type="text" required />
            <br>
            
            <label for="decibel">decibel</label>
            <input id="decibel" name="decibel" type="text" required />
            <br>
            
            <label for="temp">temp</label>
            <input id="temp" name="temp" type="text" required />
            <br>
            
            <label for="humi">humi</label>
            <input id="humi" name="humi" type="text" required />
            <br>
            
            <input type="submit" value="Insert" />

        </form>
    </div>
</body>
</html>
